*{
    margin: 0;
    padding: 0;
    font-family: '나눔 고딕','NanumGothic','맑은 고딕',Gothic;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

body{
    width: 960px;
    margin: 0 auto;
    background-color: #e6e6e6;
}
div#page-wrapper{
    background-color: #ffffff;
    margin: 40px 0 40px 0;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    text-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

header#main-header{
    padding: 40px 50px 40px 50px;
}
.master-title{
    font-size: 30px;
    color: #181818;
}
.master-description{
    font-size: 15px;
    color: #383838;
    font-weight: 500;
}
nav#main-navigation{
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #c8c8c8;
    margin: 0 0 20px 0;
    height: 40px;
}
.outer-menu-item{
    float: left;
}
.menu-title{
    display: block;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 5px 20px 5px 20px;
    color: #000000;
}
nav:hover .menu-title{
    background-color: #000000;
    color: #ffffff;
}
nav:active .menu-title{
    color: #ffff00;
}


div#content{
    overflow: hidden;
}
section#main-section{
    float: left;
    width: 710px;
}
aside#main-aside{
    float: right;
    width: 200px;
}

img[src*="Sejong_mark"]{
    width: 280px;
    height: 280px;
}
img[src*="Datascience"]{
    width: 430px;
    height: 280px;
}

footer{
    font-size: 10px;
    color: #666666;
}

img{
    width: 200px;
    height: 200px;
}